## Step1: Reading and Understanding the data

In [1]:
import numpy as np
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
Bike = pd.read_csv("day.csv")
Bike.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,1,0,1,0,1,1,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,1,0,1,0,2,1,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,1,0,1,0,3,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,1,0,1,0,4,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,1,0,1,0,5,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [4]:
Bike.shape

(730, 16)

In [5]:
Bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     730 non-null    int64
 1   dteday      730 non-null    object
 2   season      730 non-null    int64
 3   yr          730 non-null    int64
 4   mnth        730 non-null    int64
 5   holiday     730 non-null    int64
 6   weekday     730 non-null    int64
 7   workingday  730 non-null    int64
 8   weathersit  730 non-null    int64
 9   temp        730 non-null    float64
 10  atemp       730 non-null    float64
 11  hum         730 non-null    float64
 12  windspeed   730 non-null    float64
 13  casual      730 non-null    int64
 14  registered  730 non-null    int64
 15  cnt         730 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.4+ KB

In [6]:
Bike.describe()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000
mean,365.500000,2.498630,0.500000,6.526027,0.028767,2.995890,0.690411,1.394521,20.319259,23.726322,62.765175,12.763620,849.249315,3658.757534,4508.006849
std,210.877136,1.110184,0.500343,3.450215,0.167266,2.000339,0.462641,0.544807,7.506729,8.150308,14.237589,5.195841,686.479875,1559.758728,1936.011647
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,2.424346,3.953480,0.000000,1.500244,2.000000,20.000000,22.000000
25%,183.250000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,13.811885,16.889713,52.000000,9.041650,316.250000,2502.250000,3169.750000
50%,365.500000,3.000000,0.500000,7.000000,0.000000,3.000000,1.000000,1.000000,20.465826,24.368225,62.625000,12.125325,717.000000,3664.500000,4548.500000
75%,547.750000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,26.880615,30.445775,72.989575,15.625589,1096.500000,4783.250000,5966.000000
max,730.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,35.328347,42.044800,97.250000,34.000021,3410.000000,6946.000000,8714.000000

## Step 2: Visualisation of Data

In [7]:
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
Bike['season'] = Bike['season'].map({1:'spring', 2:'summer', 3:'fall', 4: 'winter'})
Bike['mnth'] = Bike['mnth'].map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'June',7:'July',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})
Bike['weathersit'] = Bike['weathersit'].map({1: 'Clear',2:'Mist + Cloudy',3:'Light Snow',4:'Snow + Fog'})
Bike['weekday'] = Bike['weekday'].map({0:'Sun',1:'Mon',2:'Tue',3:'Wed',4:'Thu',5:'Fri',6:'Sat'})

In [9]:
Bike.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,spring,0,Jan,0,Mon,1,Mist + Cloudy,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,spring,0,Jan,0,Tue,1,Mist + Cloudy,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,spring,0,Jan,0,Wed,1,Clear,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,spring,0,Jan,0,Thu,1,Clear,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,spring,0,Jan,0,Fri,1,Clear,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [10]:
numvar = ['yr', 'holiday', 'workingday', 'temp', 'atemp', 'hum', 'windspeed', 'cnt']
catvar = ['season', 'mnth','weekday','weathesit']

In [ ]:
sns.pairplot(Bike[numvar])
plt.show()

In [ ]:
sns.barplot('mnth', 'cnt',hue = 'yr', data = Bike, palette = 'pastel')
plt.show()

In [ ]:
sns.barplot('season','cnt',hue = 'yr', data=Bike, palette = 'pastel')
plt.show()

In [ ]:
sns.barplot('weekday','cnt',hue = 'yr', data=Bike, palette = 'pastel')
plt.show()

In [ ]:
sns.barplot('weathersit','cnt',hue = 'yr', data=Bike, palette = 'pastel')
plt.show()

## Step 3: Preparation of Data

In [ ]:
Bike.head()

In [ ]:
#dropping un-necessary variables
Bike=Bike.drop(['instant','dteday','casual', 'registered','atemp'], axis=1)
Bike.head()

In [ ]:
#getting dummies
Months = pd.get_dummies(Bike.mnth,drop_first=True)
Weekdays = pd.get_dummies(Bike.weekday,drop_first=True)
Weather_sit = pd.get_dummies(Bike.weathersit,drop_first=True)
Seasons = pd.get_dummies(Bike.season,drop_first=True)

In [ ]:
#concatenating dataframes
Bike = pd.concat([Months,Weekdays,Weather_sit,Seasons,Bike],axis=1)
Bike.head()

In [ ]:
#dropping redundant variables
Bike=Bike.drop(['mnth','weekday','weathersit', 'season'], axis=1)
Bike.head()

## Step 4: Splitting and Rescaling

In [ ]:
from sklearn.model_selection import train_test_split
df_train, df_test = train_test_split(Bike, train_size = 0.7, test_size = 0.3, random_state = 100)

In [ ]:
#Scaling
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [ ]:
numvar = ['yr', 'holiday', 'workingday', 'temp', 'hum', 'windspeed', 'cnt']
df_train[numvar] = scaler.fit_transform(df_train[numvar])
df_train.head()

In [ ]:
#Checking correlation
plt.figure(figsize = (24, 16))
sns.heatmap(df_train.corr(), annot = True, cmap="YlGnBu")
plt.show()

## Step 5: Building and Training the model

In [ ]:
y_train = df_train.pop('cnt')
X_train = df_train

In [ ]:
import statsmodels.api as sm
X_train_lm = sm.add_constant(X_train)
lr1 = sm.OLS(y_train, X_train_lm).fit()
lr1.params

In [ ]:
print(lr1.summary())

In [ ]:
#checking VIF
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [ ]:
vif = pd.DataFrame()
vif['Features'] = X_train.columns
vif['VIF'] = [variance_inflation_factor(X_train.values, i) for i in range(X_train.shape[1])]
vif['VIF'] = round(vif['VIF'], 2)
vif = vif.sort_values(by = "VIF", ascending = False)
vif

In [ ]:
#dropping column and building model again
X = X_train.drop('Mar', 1,)
X_train_lm = sm.add_constant(X)
lr2 = sm.OLS(y_train, X_train_lm).fit()
print(lr2.summary())

In [ ]:
vif = pd.DataFrame()
vif['Features'] = X.columns
vif['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif['VIF'] = round(vif['VIF'], 2)
vif = vif.sort_values(by = "VIF", ascending = False)
vif

In [ ]:
#dropping column and building model again
X = X.drop('June', 1,)
X_train_lm = sm.add_constant(X)
lr3 = sm.OLS(y_train, X_train_lm).fit()
print(lr3.summary())

In [ ]:
vif = pd.DataFrame()
vif['Features'] = X.columns
vif['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif['VIF'] = round(vif['VIF'], 2)
vif = vif.sort_values(by = "VIF", ascending = False)
vif

In [ ]:
#dropping column and building model again
X = X.drop('workingday', 1,)
X_train_lm = sm.add_constant(X)
lr4 = sm.OLS(y_train, X_train_lm).fit()
print(lr4.summary())

In [ ]:
vif = pd.DataFrame()
vif['Features'] = X.columns
vif['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif['VIF'] = round(vif['VIF'], 2)
vif = vif.sort_values(by = "VIF", ascending = False)
vif

In [ ]:
#dropping column and building model again
X = X.drop('hum', 1,)
X_train_lm = sm.add_constant(X)
lr5 = sm.OLS(y_train, X_train_lm).fit()
print(lr5.summary())

In [ ]:
vif = pd.DataFrame()
vif['Features'] = X.columns
vif['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif['VIF'] = round(vif['VIF'], 2)
vif = vif.sort_values(by = "VIF", ascending = False)
vif

In [ ]:
#dropping column and building model again
X = X.drop('Sat', 1,)
X_train_lm = sm.add_constant(X)
lr6 = sm.OLS(y_train, X_train_lm).fit()
print(lr6.summary())

In [ ]:
vif = pd.DataFrame()
vif['Features'] = X.columns
vif['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif['VIF'] = round(vif['VIF'], 2)
vif = vif.sort_values(by = "VIF", ascending = False)
vif

In [ ]:
#dropping column and building model again
X = X.drop('Thu', 1,)
X_train_lm = sm.add_constant(X)
lr7 = sm.OLS(y_train, X_train_lm).fit()
print(lr7.summary())

In [ ]:
vif = pd.DataFrame()
vif['Features'] = X.columns
vif['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif['VIF'] = round(vif['VIF'], 2)
vif = vif.sort_values(by = "VIF", ascending = False)
vif

In [ ]:
#dropping column and building model again
X = X.drop('Sun', 1,)
X_train_lm = sm.add_constant(X)
lr7 = sm.OLS(y_train, X_train_lm).fit()
print(lr7.summary())

In [ ]:
vif = pd.DataFrame()
vif['Features'] = X.columns
vif['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif['VIF'] = round(vif['VIF'], 2)
vif = vif.sort_values(by = "VIF", ascending = False)
vif

In [ ]:
#dropping column and building model again
X = X.drop('Wed', 1,)
X_train_lm = sm.add_constant(X)
lr8 = sm.OLS(y_train, X_train_lm).fit()
print(lr8.summary())

In [ ]:
vif = pd.DataFrame()
vif['Features'] = X.columns
vif['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif['VIF'] = round(vif['VIF'], 2)
vif = vif.sort_values(by = "VIF", ascending = False)
vif

In [ ]:
#dropping column and building model again
X = X.drop('Aug', 1,)
X_train_lm = sm.add_constant(X)
lr9 = sm.OLS(y_train, X_train_lm).fit()
print(lr9.summary())

In [ ]:
vif = pd.DataFrame()
vif['Features'] = X.columns
vif['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif['VIF'] = round(vif['VIF'], 2)
vif = vif.sort_values(by = "VIF", ascending = False)
vif

In [ ]:
#dropping column and building model again
X = X.drop('windspeed', 1,)
X_train_lm = sm.add_constant(X)
lr10 = sm.OLS(y_train, X_train_lm).fit()
print(lr10.summary())

In [ ]:
vif = pd.DataFrame()
vif['Features'] = X.columns
vif['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif['VIF'] = round(vif['VIF'], 2)
vif = vif.sort_values(by = "VIF", ascending = False)
vif

In [ ]:
#dropping column and building model again
X = X.drop('Oct', 1,)
X_train_lm = sm.add_constant(X)
lr11 = sm.OLS(y_train, X_train_lm).fit()
print(lr11.summary())

In [ ]:
vif = pd.DataFrame()
vif['Features'] = X.columns
vif['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif['VIF'] = round(vif['VIF'], 2)
vif = vif.sort_values(by = "VIF", ascending = False)
vif

All values of vif is less than 5. So, this is the best model we can get.

## Step 6: Residual Analysis of the train data

In [ ]:
y_train_cnt = lr11.predict(X_train_lm)

In [ ]:
# Plot the histogram of the error terms
fig = plt.figure()
sns.distplot((y_train - y_train_cnt), bins = 20)
fig.suptitle('Error Terms', fontsize = 20)                   
plt.xlabel('Errors', fontsize = 18)
plt.show()

## Step 7: Predictions and Evaluation on the test set

In [ ]:
numvar = ['yr', 'holiday', 'workingday', 'temp', 'hum', 'windspeed', 'cnt']
df_test[numvar] = scaler.transform(df_test[numvar])

In [ ]:
y_test = df_test.pop('cnt')
X_test = df_test

In [ ]:
# Adding constant variable to test dataframe
X_test_m11 = sm.add_constant(X_test)

In [ ]:
X_test_m11 = X_test_m11.drop([ "Mar", "June","workingday", "hum", "Sat", "Thu",'Sun','Wed', "Aug", "windspeed","Oct"], axis = 1)

In [ ]:
y_pred_m11 = lr11.predict(X_test_m11)

In [ ]:
#Evaluate R-square for test
from sklearn.metrics import r2_score
r2_score(y_test,y_pred_m11)

In [ ]:
#Adjusted R^2
#adj r2=1-(1-R2)*(n-1)/(n-p-1)

#n =sample size , p = number of independent variables

Adj_r2=1-(1-0.8260365)*(19-1)/(19-1-1)
print(Adj_r2)

In [ ]:
plt.figure(figsize=(8,6))
sns.regplot(x=y_test, y=y_pred_m11, ci=68, fit_reg=True,scatter_kws={"color": "blue"}, line_kws={"color": "red"})

plt.title('y_test vs y_pred', fontsize=20)               
plt.xlabel('y_test', fontsize=18)                          
plt.ylabel('y_pred', fontsize=16)                          
plt.show()

Traning Data:
R-squared: 0.833
Adj. R-squared: 0.827

Testing Data:
R-squared: 0.826
Adj. R-squared: 0.816